.App {
  background-color: rgb(206, 226, 226);
}

.App h1 {
  text-align: center;
  color: rgb(42, 120, 122);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: bold;
}

.App-footer {
  text-align: center;
  margin: 30px;
  margin-left: -20px;
}
